body {
    padding: 60px 0px;
    margin: 0;
}

/*Container da página principal*/
.main-container{
    display: flex;
    padding-top: 30px;
}

/*Default class bootstrap*/

.card{
    margin: 4px;
}

.card-body{
    display: flex;
    flex-direction: column;
}

/*Container utilizado para páginas com conteúdo central*/
.custom-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.main-title{
    flex-direction: row;
    text-align: center;
    margin: 20px;
}

.card-items{
    display: flex;
    margin: auto;
    max-width: 900px;
    flex-direction: row;
    flex-shrink: 3;
}

/*Multilinhas, a direção é definida por flex-direction.*/
.wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*Default*/
.nowrap  {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/*Classe principal para a div de login*/
.login-container{
    display: flex;
    padding-top: 40px;
}

.arcanos-maiores {
    display: inline-block;
    margin: 20px;
    animation: backInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}