{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="login-container justify-content-center">
    <div class="login-items">
        <a href="{{ path('recovery') }}">Esqueci minha senha</a>
    </div>
</div>
{% endblock %}
